body { 
    background-color:rgb(253, 251, 251); 
}

#cabecalho {
    margin: 0px;
    position: static;
    background-color: brown;
    top: 0px;
    width: auto;
    height: auto;
    display: flex; 
    flex-direction: row; 
    justify-content: center;

}

#minha_foto {
    border-radius: 100px;
}

#licoes_aprendidas {
    list-style: decimal;
}

#licoes_a_aprender{
    list-style: circle;
}

#rodape{

    display: flex; flex-direction: row; justify-content: center;
}